@using OnlineTestForCLanguage.Web.Models.Common.Modals
@using OnlineTestForCLanguage.Web.Models.Exams
@model EditExamModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("编辑考题"))
<form name="UserEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Exam.Id" />
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#create-Exam-details">考试明细</a>
            </li>
        </ul>
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="create-Exam-details">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">考题难度</label>
                    <div class="col-md-9">
                        <select class="form-control" name="Difficulty" required>
                            @if (Model.Exam.Difficulty == OnlineTestForCLanguage.Exams.DifficultyType.difficult)
                            {
                                <option value="0">简单</option>
                                <option value="1">一般</option>
                                <option value="2" selected>困难</option>
                            }
                            else if (Model.Exam.Difficulty == OnlineTestForCLanguage.Exams.DifficultyType.general)
                            {
                                <option value="0">简单</option>
                                <option value="1" selected>一般</option>
                                <option value="2">困难</option>
                            }
                            else if (Model.Exam.Difficulty == OnlineTestForCLanguage.Exams.DifficultyType.simple)
                            {
                                <option value="0" selected>简单</option>
                                <option value="1">一般</option>
                                <option value="2">困难</option>
                            }

                        </select>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">考题类型</label>
                    <div class="col-md-9">
                        <input id="ExamEditType" value="@Model.Exam.ExamType" disabled="disabled" hidden />
                        @Model.Exam.ExamType_Info
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">标题</label>
                    <div class="col-md-9">
                        <input type="text" value="@Model.Exam.Title" name="Title" id="Title" class="form-control" required maxlength="80">
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">考题内容</label>
                    <div class="col-md-9">
                        <textarea name="Content"  id="Content" class="form-control" required maxlength="200">@Model.Exam.Content</textarea>
                    </div>
                </div>

                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">答案</label>
                    <div class="col-md-9" id="examContent">
                        @switch (Model.Exam.ExamType)
                        {
                            case OnlineTestForCLanguage.Exams.ExamType.SingleSelect:
                    <table class="col-md-12">
                        <tr align="center">
                            <td width="15%">正确选项</td>
                            <td>答案内容</td>
                        </tr>
                        @foreach (var item in Model.Exam.answers)
                        {
                    <tr align="center">
                        <td><input type="radio" id='@item.AnswerId' name="answerName" @(item.IsSelected.Value ? "checked" : "") /></td>
                        <td>
                            <input type="text" name="AnswerContent" class="form-control" required maxlength="80" value="@item.Content">
                        </td>
                    </tr>}
                    </table> break;
                case OnlineTestForCLanguage.Exams.ExamType.MulSelect:
                    <table class="col-md-12">
                        <tr align="center">
                            <td width="15%">是否答案</td>
                            <td>答案内容</td>
                        </tr>
                        @foreach (var item in Model.Exam.answers)
                        {
                    <tr align="center">
                        <td><input type="checkbox" id='@item.AnswerId' name="answerName" @(item.IsSelected.Value ? "checked" : "") /></td>
                        <td>
                            <input type="text" name="AnswerContent" class="form-control" required maxlength="80" value="@item.Content">
                        </td>
                    </tr>
}
                    </table> break;
                case OnlineTestForCLanguage.Exams.ExamType.Judge:
                    <table class="col-md-12">
                        <tr align="center">
                            <td width="15%">正确选项</td>
                            <td>答案内容</td>
                        </tr>
                        @foreach (var item in Model.Exam.answers)
                        {
                    <tr align="center">
                        <td><input type="radio" id='@item.AnswerId' name="answerName" @(item.IsSelected.Value ? "checked" : "") /></td>
                        <td>
                            <input type="text" name="AnswerContent" class="form-control" required maxlength="80" readonly value="@item.Content">
                        </td>
                    </tr>}
                    </table>break;
                case OnlineTestForCLanguage.Exams.ExamType.ShortAnswer:
                    <textarea type="text" id="simpleAnswerId" name="AnswerContent" class="form-control" required maxlength="4000">@Model.Exam.answers.FirstOrDefault().Content</textarea>break;
                                    default:
                                        break;
                                }
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">解析</label>
                    <div class="col-md-9">
                        <textarea name="Explain" class="form-control" id="Explain" maxlength="200">@Model.Exam.Explain</textarea>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">考题分数</label>
                    <div class="col-md-9">
                        <input type="text" id="score" value="@Model.Exam.Score" name="score" class="form-control" maxlength="80" readonly>
                    </div>
                </div>

            </div>

        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Exams/_EditModal.js" asp-append-version="true"></script>
