@using Abp.Authorization.Users
@using OnlineTestForCLanguage.Web.Models.Common.Modals
@using OnlineTestForCLanguage.Web.Models.Tests
@model EditTestModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("正在考试"))
<form name="TestStartModal"  role="form" class="form-horizontal">
    <input type="hidden" id="Id" name="Id" value="@Model.Test.Id" />
    <div class="modal-body" style="overflow-y: auto; overflow-x: auto; width: 798px; height: 768px;">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#start-Test-details">试题内容</a>
            </li>
           
        </ul>
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="start-Test-details">
                <div class="form-group row required">
                    @foreach (var item in Model.Test.Paper.PaperDetails.Where(p => p.Exam.ExamType != OnlineTestForCLanguage.Exams.ExamType.ShortAnswer))
                    {
                <input name="examSelectids" value="@item.ExamId" hidden readonly />}
                    @foreach (var item in Model.Test.Paper.PaperDetails.Where(p => p.Exam.ExamType == OnlineTestForCLanguage.Exams.ExamType.ShortAnswer))
                    {
                <input name="examNotSelectids" value="@item.ExamId" hidden readonly />}
                    @{ var singleSelects = Model.Test.Paper.PaperDetails.Where(p => p.Exam.ExamType == OnlineTestForCLanguage.Exams.ExamType.SingleSelect).ToList();
                        var mulSelects = Model.Test.Paper.PaperDetails.Where(p => p.Exam.ExamType == OnlineTestForCLanguage.Exams.ExamType.MulSelect).ToList();
                        var judges = Model.Test.Paper.PaperDetails.Where(p => p.Exam.ExamType == OnlineTestForCLanguage.Exams.ExamType.Judge).ToList();
                        var shortAnswers = Model.Test.Paper.PaperDetails.Where(p => p.Exam.ExamType == OnlineTestForCLanguage.Exams.ExamType.ShortAnswer).ToList(); }
                    <label class="col-md-12 col-form-label" for="Title">单选题(一个5分)</label>
                    @foreach (var item in singleSelects)
                    {
                        var nowindex = singleSelects.IndexOf(item) + 1;
                <div class="col-md-12">(@nowindex) @item.Exam.Content</div>
                                <table class="col-md-12">

                                    @foreach (var examDetail in item.Exam.answers)
                                    {
                    <tr align="center">
                        <td><input type="radio" name="answerName-@item.Exam.Id" id="@examDetail.AnswerId" /></td>
                        <td>
                            <input type="text" readonly name="AnswerContent-@item.Exam.Id" class="form-control" required maxlength="80" value="@examDetail.AnswerIdWithABCD @examDetail.Content">
                        </td>
                    </tr>}
                                </table>}
                </div>
                <div class="form-group row required">
                    <label class="col-md-12 col-form-label">多选题(一个10分)</label>
                    @foreach (var item in mulSelects)
                    {
                        var nowindex = mulSelects.IndexOf(item) + 1;
                <div class="col-md-12">(@nowindex) @item.Exam.Content</div>
                                <table class="col-md-12">

                                    @foreach (var examDetail in item.Exam.answers)
                                    {
                    <tr align="center">
                        <td><input type="checkbox" name="answerName-@item.Exam.Id" id="@examDetail.AnswerId" /></td>
                        <td>
                            <input type="text" readonly name="AnswerContent-@item.Exam.Id" class="form-control" required maxlength="80" value="@examDetail.AnswerIdWithABCD @examDetail.Content">
                        </td>
                    </tr>}
                                </table>}
                </div>

                <div class="form-group row required">
                    <label class="col-md-12 col-form-label">判断题(一个5分)</label>
                    @foreach (var item in judges)
                    {
                        var nowindex = judges.IndexOf(item) + 1;
                <div class="col-md-12">(@nowindex) @item.Exam.Content</div>
                                <table class="col-md-12">

                                    @foreach (var examDetail in item.Exam.answers)
                                    {
                    <tr align="center">
                        <td><input type="radio" name="answerName-@item.Exam.Id" id="@examDetail.AnswerId" /></td>
                        <td>
                            <input type="text" readonly name="AnswerContent-@item.Exam.Id" class="form-control" required maxlength="80" value="@examDetail.Content">
                        </td>
                    </tr>}
                                </table>}
                </div>
                <div class="form-group row required">
                    <label class="col-md-12 col-form-label">简答题(一个10分)</label>
                    @foreach (var item in shortAnswers)
                    {
                        var nowindex = shortAnswers.IndexOf(item) + 1;
                <div class="col-md-12">(@nowindex) @item.Exam.Content</div>
                                <textarea type="text" id="simpleAnswerId-@item.Exam.Id" name="AnswerContent-@item.Exam.answers.FirstOrDefault().Id" class="form-control" required maxlength="4000"></textarea>}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="submit" id="ensure-submit" class="btn btn-primary">确认交卷</button>
    </div>
</form>

<script src="~/view-resources/Views/Tests/_EditModal.js" asp-append-version="true"></script>
