@using Abp.Authorization.Users
@using OnlineTestForCLanguage.Web.Models.Common.Modals
@using OnlineTestForCLanguage.Web.Models.Papers
@model EditPaperModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("编辑考题"))
<form name="UserEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Paper.Id" />
    <div class="modal-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#edit-Paper-details">试卷基本信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#edit-Exam-details">考题列表</a>
            </li>
        </ul>
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane container active" id="edit-Paper-details">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="Title">标题</label>
                    <div class="col-md-9">
                        <input id="Title" type="text" class="form-control" name="Title" value="@Model.Paper.Title" required minlength="2">
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label">试卷总分</label>
                    <div class="col-md-9">
                        <input type="text" name="Score" readonly value="100" class="form-control" required maxlength="80">
                    </div>
                </div>
            </div>
            <div class="tab-pane container" id="edit-Exam-details">
                <div><label>请在下面考题中,选取相应的题目组成试卷</label></div>
                <div>
                <label>单选题(每题5分)</label>
                    @foreach (var exam in Model.Exams.Where(e=>e.ExamType == OnlineTestForCLanguage.Exams.ExamType.SingleSelect))
                    {
                <div class="col-md-6">
                    <input type="checkbox" name="exam" value="@exam.Id" title="@exam.Title" class="filled-in" id="@($"exam{exam.Id}")" @(Model.ExamIsInDetail(exam) ? "checked" : "") />
                    <label for="@($"exam{exam.Id}")" title="@exam.Title">@exam.Title,分数:@exam.Score,难度:@exam.Difficulty_Info</label>
                </div>
                    }
                </div>
                 
                <div> <label>多选题(每题10分)</label>
                    @foreach (var exam in Model.Exams.Where(e=>e.ExamType == OnlineTestForCLanguage.Exams.ExamType.MulSelect))
                    {
                     
                <div class="col-md-6">
                    <input type="checkbox" name="exam" value="@exam.Id" title="@exam.Title" class="filled-in" id="@($"exam{exam.Id}")" @(Model.ExamIsInDetail(exam) ? "checked" : "") />
                    <label for="@($"exam{exam.Id}")" title="@exam.Title">@exam.Title,分数:@exam.Score,难度:@exam.Difficulty_Info</label>
                </div>
                    }</div>
                   

                   <div>
                <label>判断题(每题5分)</label>
                    @foreach (var exam in Model.Exams.Where(e=>e.ExamType == OnlineTestForCLanguage.Exams.ExamType.Judge))
                    {
                      
                <div class="col-md-6">
                    <input type="checkbox" name="exam" value="@exam.Id" title="@exam.Title" class="filled-in" id="@($"exam{exam.Id}")" @(Model.ExamIsInDetail(exam) ? "checked" : "") />
                    <label for="@($"exam{exam.Id}")" title="@exam.Title">@exam.Title,分数:@exam.Score,难度:@exam.Difficulty_Info</label>
                </div>
                    }
                   </div>
                   
                   <div>
                    <label>简答题(每题10分)</label>
                    @foreach (var exam in Model.Exams.Where(e=>e.ExamType == OnlineTestForCLanguage.Exams.ExamType.ShortAnswer))
                    {
                      
                <div class="col-md-6">
                    <input type="checkbox" name="exam" value="@exam.Id" title="@exam.Title" class="filled-in" id="@($"exam{exam.Id}")" @(Model.ExamIsInDetail(exam) ? "checked" : "") />
                    <label for="@($"exam{exam.Id}")" title="@exam.Title">@exam.Title,分数:@exam.Score,难度:@exam.Difficulty_Info</label>
                </div>
                    }
                   </div>
                   

            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Papers/_EditModal.js" asp-append-version="true"></script>
